.message {
  width: fit-content;
  padding: 0.5rem 1rem;

  &.user-message {
    align-self: flex-end;
    background-color: var(--color-primary);
    border-radius: 1rem;
  }

  &.assistant-message {
    align-self: flex-start;
  }

  &:has(> :nth-child(2)) p,
  &:has(> :nth-child(2)) ul,
  &:has(> :nth-child(2)) ol {
    line-height: 1.5;
    color: var(--color-text);
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 1rem;
    list-style-type: disc;
  }
}